<div>
    <div class="on_page_title">edit the template for your yellownotes</div>
    <div>
        This is the default template for all notes created by you. You can change this template at any time and it will affect all news notes you create 

        <p>
<li>height</li>
changing this will only affect all new note you create. It will not affect the height of notes you have already created
<li>width</li>
changing this will only affect all new note you create. It will not affect the width of notes you have already created

<li>background color</li>

changing this color will affect all note you have created
<li>banner image</li>
changing this image will affect you your notes, including all notes you have already created
        </p>

        
    </div>
</div>