<div>
    
    <b>Still in testing: not fully implemented yet</b>

<br>
it is possible to use the Yellow Notes for the Cloud application without having to sign-in. The plugin has a limited account by virtue of simply being installed in your browser.
<br>You can still subscribe to feeds if the feed creator allow unknown subscribers, and many do. 
<br>You can still create you own yellownotes and attach them to any place on the internet. But you can not share them with others. Nor can you create feeds that other may subscribe to.
<br>
<br>All data created by you on the Yellow Notes platform belongs to you, even if Yellow Notes have no idea who you are.
Such unattributable data is automatically deleted after 30 days. 

<br>And specifically: Any notes you create while you are not signed-in
will be automatically deleted after 30 days. Signing-in will not preserve any notes you may have created while your were not signed-in. 
To be signed-in and to not be signed-in is to have two separate accounts, where the second is an anonymous account. Loging in and loging out is to go from one to the other. 

<br>However, should you require your data to be completely removed immediately, you can do that here.

<button id="downloadAllButton">Download all personal data</button>
<button id="deleteAllButton">Delete your account and all personal data on the Yellow Notes cloud platform</button>

</div>