<div>
    <b>Still in testing: not fully implemented yet</b>

    
    <h2>your account page</h2>



    <br>And specifically: Any notes you create while you are not signed-in
will be automatically deleted after 30 days. Signing-in will not preserve any notes you may have created while your were not signed-in. 
To be signed-in and to not be signed-in is to have two separate accounts, where the second is an anonymous account. Loging in and loging out is to go from one to the other. 

<p>However, should you require your data to be completely removed immediately, you can do that here.</p>

<br></br>
    <button id="downloadAllButton">Download all personal data</button>
    <button id="deleteAllButton">Delete account and all personal data on the Yellow Notes cloud platform</button>
    </div>