<div>
    <p>
        Feeds can usefully be thought of as a distribution list to which others may subscribe. By default one is created for you automatically. 
        It simply bears your username (email address) as its name.
    </p>

    <p>
        Feeds have a visibility setting. This controls whether or not the feed will show up in searches. This can be either public or private. A public feed is visible to all users of the Yellownotes platform. 
        A private feed is only visible to its members.
    </p>

    <p>
        Feeds can carry restrictions on who may subscribe, and how. These are set by you as the feed owner. By default, the setting is "NONE" which means that anyone may subscribe and their subscription is approved automatically. The owner of the feed may remove subscribers at any time.
        <br/>Restrictions have not yet been implemented.
    </p>

    <p>
        Feeds can be active or inactive. An inactive feed is not visible in searches. An active feed is visible in searches, and its subscribers are notified of new notes.

    <p>
      Feeds can be deleted or deactivated by you at any time. Deletion is permanent. Deactivation is reversible at any time.
      The visible effect to subscribers is the same to for both deactivation and deletion: The feeds are no longer visible on their lists of feeds they subscribe to, and will it appear in searches for feeds.
      Nor are the notes attached to those feeds accessible.    
  </p> </div>