<div>


<div class="explanation-container">

    <div class="explanation-label-container">
        <div class="explanation-label-title">Name</div>
        <div class="explanation-label-description">
            This column contains the name of the feed
        </div>
        <div class="explanation-label-instructions">
            The name can be updated by editing the cell directly. Any changes must be saved by clicking the save (floppy disk icon) icon at the end of the line.
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">Description</div>
        <div class="explanation-label-description">
            This column contains the description of the feed
        </div>
        <div class="explanation-label-instructions">
            The description can be updated by editing the cell directly. Any changes must be saved by clicking the save (floppy disk icon) icon at the end of the line.
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">Visibility</div>
        <div class="explanation-label-description">
            This column contains the visibility of the feed. A feed can be either "public" or "private".
            <p/>
        <div class="explanation-label-instructions">
            <b>PUBLIC</b> The feed can be search for and subscribed to by any user. 
        </div>
<p/>
        <div class="explanation-label-instructions">
            <b>PRIVATE</b> The feed is only vilible to subscribers. The feed can only be subscribed to by invitation. 
        </div>
        <div class="explanation-label-instructions">
            The visibility can be updated by selecting a new value from the drop-down list contained in the cell. Any changes must be saved by clicking the save (floppy disk icon) icon at the end of the line.
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">Restrictions</div>
        <div class="explanation-label-description">
            This column contains the restrictions that governs who can subscribe to the feed automatically. 
            The restrictions can be either "NONE", "email" or "domain". Not yet implemented
        </div>
        <div class="explanation-label-instructions">
            
        </div>
    </div>


    <div class="explanation-label-container">
        <div class="explanation-label-title">post count</div>
        <div class="explanation-label-description">
            This column contains the number of YellowNotes attached this feed. You can sort the feeds by clicking &#9650; (or &#9660;) in the column header.
        </div>
        <div class="explanation-label-instructions">
            not editable
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">subscriber count</div>
        <div class="explanation-label-description">
            This column contains the number of subscribers to this feed. You can sort the feeds by clicking &#9650; (or &#9660;) in the column header.
        </div>
        <div class="explanation-label-instructions">
            not editable
        </div>
    </div>


    <div class="explanation-label-container">
        <div class="explanation-label-title">Created</div>
        <div class="explanation-label-description">
            This column contains the date and time when the feed was created. You can sort the notes by creation date by clicking &#9650; (or &#9660;) on the column header.
        </div>
        <div class="explanation-label-instructions">
            This information can not be modified
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">Active</div>
        <div class="explanation-label-description">
            This column contains the active/disabled status of the note. You can filter the notes by their status by selecting "active" or "inactive" from the dropdown menu.

        </div>
        <div class="explanation-label-instructions">
            Modify the notes active/inactive status by (un)ticking the checkbox. The change is immediate and there is not need to save the change.
        </div>
    </div>

    <div class="explanation-label-container">
        <div class="explanation-label-title">anonymous_allowed</div>
        <div class="explanation-label-description">
            This indicated whether or not unauthentucated user may subscribe to this feed. Checkin this box means user needs not be logged in to subscribe to the feed. 
            This is the default and is the recommended setting for sending YellowNotes to a large audience or new user. 

        </div>
        <div class="explanation-label-instructions">
            Modify the permissions by (un)ticking the checkbox. The change is immediate and there is not need to save the change.
        </div>
    </div>


    <div class="explanation-label-container">
        <div class="explanation-label-title">automatic_enrolment</div>
        <div class="explanation-label-description">
            This column indicates whether ot no user who satisfy the requiremetns are automatically approved.
             You can filter the feed by their status by selecting "active" or "inactive" from the dropdown menu.

        </div>
        <div class="explanation-label-instructions">
            Modify the permissions by (un)ticking the checkbox. The change is immediate and there is no need to save the change.
        </div>
    </div>


    <div class="explanation-label-container">
        <div class="explanation-label-title">Actions</div>
        <div class="explanation-label-description">
            This column shows actions that can be take on the feed.

        </div>
        <p/>
        
        <div class="explanation-label-instructions">
            Delete. <b>Deletion takes place immediately and there is no prompting for confirmation.</b>
        </div>
        <p/>
        <div class="explanation-label-instructions">
            Notes. Opens the notes page for this feed.   
        </div>
        <p/>
        <div class="explanation-label-instructions">
            Subscribers. Opens the subscribers page for this feed.   
        </div>
        <p/>
        <div class="explanation-label-instructions">
            Save. Saves changes made to the text fields.
            
        </div>
        <p/>
        <div class="explanation-label-instructions">
            Invite. Create a invitation link for this feed that can be sent to other users.
            
        </div>
    </div>
  
    
<!--
    <div class="explanation-label-container">
        <div class="explanation-label-title">Notes</div>
        <div class="explanation-label-description">
            This column shows the addresses of the individuals. Address details can be updated by editing the cell.
        </div>
        <div class="explanation-label-instructions">
            The field is editable. Type any changes directly to the cell, and then click save.
        </div>
    </div>
-->


</div>