<div>
<div style="display: flex; justify-content: center; align-items: middle; height: 7vh;">
  <div class="on_page_title">feeds I subscribe to</div>
</div>
  <div style="display: flex;  ">
    <p style="left: 280px;  font-size: 12px; color: black;">
    the feeds you subscribe to. You can add, remove, suspend or activate any and all subscriptions.

    Currently you are not signed in to the Yellow Notes Cloud and there are some limitations for user that are anonymous. 

    Many feeds will not be accessible to anonymous users. The feeds you subscribe up to while anonymous will not be still be subscribed to you when you are signed in; you will have to subscribe again.

  </p>
  
</div>
  </div> 