<div class="sidebar">
    <img src="/icons/notes-cloud.by.400.png" alt="/icons/Y.200.png" style="width:150px;height:120px;">
    <div id="login_status"></div>
    <a href="welcome.html">How to do Yellownotes</a>
    <a href="my_account.html">Account page</a>
    <a href="my_notes.html">My Yellownotes</a>
    <a href="subscribed_notes.html">Subscribed Yellownotes</a>
    <a href="my_subscriptions.html">Yellownotefeed subscribtions to</a>
    <a href="https://www.yellownotes.cloud/privacy_policy.html" target="_blank">Privacy policy</a>
    <a href="https://www.yellownotes.cloud/loginpage">Login</a>  
    
  </div>

