<div>


    <div class="explanation-container">
        <div class="explanation-label-container">
            <div class="explanation-label-title">Created</div>
            <div class="explanation-label-description">
                This column contains the date and time when the note was created. You can sort the notes by creation date by clicking &#9650; (or &#9660;) on the column header.
            </div>
           
        </div>
        <div class="explanation-label-container">
            <div class="explanation-label-title">Changed</div>
            <div class="explanation-label-description">
                This column contains the date and time when the note was last modified. You can sort the notes by the last modification date by clicking &#9650; (or &#9660;) in the column header.
            </div>
            
        </div>
        <div class="explanation-label-container">
            <div class="explanation-label-title">Type</div>
            <div class="explanation-label-description">
                This column contains the type of the note. The note type can be either "webframe", "capture_note" or "yellownote".
            </div>
          
        </div>
           <div class="explanation-label-container">
            <div class="explanation-label-title">Location</div>
            <div class="explanation-label-description">
                This column shows the web address the note is attached to. You can sort the notes alphabetically by this address by clicking &#9650; (or &#9660;) in the column header.
            </div>
         
        </div>
    
        <div class="explanation-label-container">
            <div class="explanation-label-title">Selected</div>
            <div class="explanation-label-description">
                This column shows the text of the note is attached to, if any. This is the text slected  on a web page when the note was origianlly created.
    
                You can sort the notes alphabetically by this text by clicking &#9650; (or &#9660;) in the column header.
    
            </div>
         
        </div>
    
        <div class="explanation-label-container">
            <div class="explanation-label-title">Message</div>
            <div class="explanation-label-description">
                This column shows the message in the yellow note.
    
    
                You can sort the notes alphabetically by this message by clicking &#9650; (or &#9660;) in the column header.
            </div>
          
        </div>
    
        <div class="explanation-label-container">
            <div class="explanation-label-title">Action</div>
            <div class="explanation-label-description">
                This column shows action that can be take on the note
            </div>
            <p/>
            
           
    
            <div class="explanation-label-instructions">
                The go-to icon. (arrow to document icon) This icons contains a link to the page the note is attached to. Clicking the icon will open the page in a new tab. And show the note in its placed location
                This link is suitable for sharing the note with others. Note: only notes that are attached to a feed are sharable.          
            </div>
    
        </div>
        <div class="explanation-label-container">
            <div class="explanation-label-title">Feed</div>
            <div class="explanation-label-description">
                This column shows the feed (distribution list) the note is attached to, if any. A note that is not attached to any feed is private to you. 
            </div>
            <div class="explanation-label-instructions">
                To modify which feed the note is attached to, select a new feed from the drop-down list contained in the cell.
                To remove the note for any feed, simply select the empty option on top of the drop-down list. This makes the note private to you.
                Changes are immediate, and there is no need to save the change by clicking the save icon.
                
            </div>
        </div>

        <div class="explanation-label-container">
            <div class="explanation-label-title">YellowNote</div>
            <div class="explanation-label-description">
                This column shows the YelloNotes you have created. 
            </div>
            <div class="explanation-label-instructions">
                The yellownotes can be modified directly, or through the fields in the row.
                The change to oder is which notes are displayed you set the sorting on the other columns (when shown) and the order of the notes will be updated.
                Apply filtering on the other columns, to limit the notes shown in the list.
                The sorting and filtering put in place is preserved until you change them. This way you can tailor what appears in your feed.
                
            </div>
        </div>
    
    <!--
        <div class="explanation-label-container">
            <div class="explanation-label-title">Notes</div>
            <div class="explanation-label-description">
                This column shows the addresses of the individuals. Address details can be updated by editing the cell.
            </div>
            <div class="explanation-label-instructions">
                The field is editable. Type any changes directly to the cell, and then click save.
            </div>
        </div>
    -->
    
    
    </div>