<div class="sidebar">
    <div id="login_status"></div>
    <a href="about_yellownotes.html">about Yellownotes</a>
    <a href="my_notes.html">my Yellownotes</a>
    <a href="subscribed_notes.html">all Yellownotes</a>
    <a href="my_subscriptions.html">feeds I subscribe to</a>
    <div id="loginlogout"></div>
    <a href="https://www.yellownotes.cloud/" target="_blank">Yellownotes home</a>
    <a href="https://www.yellownotes.cloud/privacy_policy.html" target="_blank">Privacy policy</a>
  
    
  </div>

