<div class="text-body">
    <p><b>Yellownotes </b></p>
    <p>We want to place yellow sticky notes on the internet. </p>
    <p>One of the most brilliant inventions in document-based communication was
      the post-it note from 3M.</p>
    
  

    Gone where the days of scribbling guiltily in the margins. With post-its you
    could jot down a quick note and stick it on the document.' regardless
    of what the document was. Comments and instructions could be placed where
    they where needed.
    <p></p>
    
    <p>
    </p>
    Yellownotes seeks to replicate this functionality on the web.
    <p>Plus a few extra pieces of functionality. Ever found a lose Post-it note
      under your desk. And thrown it away beacause you had no way of finding out
      where it belonged ? Or worse, kept it because it had something important looking written on it.
      Yellownotes have a "go-home" button. Click it and you are taken to where
      the note was attached - With the note rendered in place.<br>
    </p>
    <p>Tired of receiving links to articles and documents where you have neither
      the time nor the inclination to wade through all of it to get to the relevant bit?
      If you send or receive a yellownote attached to the web page in question,
      you can read the remarks on the note and click to go-home button to get
      taken to the exact location. And if the note was attached to a selection
      of the document text, that text will be highlighted. <br>
    </p>

  </div>

