<div><br>
    <br>
    <b>not fully implemented yet</b>

<br>
it is possible to use the Yellow Notes for the Cloud application without having to signin.
<br>You can still subscribe to feeds if the feed creator allow unknown subscribers, and many do. 
<br>You can still create you own yellownotes.
<br>All of which generate data that belongs to you, even if Yellow Notes have no idea who you are.
Such unattributable data is automatically deleted after 30 days. But should you require it to be removed immediately, you can do that from here.

<button id="downloadAllButton">Download all personal data</button>
<button id="deleteAllButton">Delete account and all personal data on the Yellow Notes cloud platform</button>

</div>