<div class="sidebar">
    <div id="login_status"></div>
    <a href="my_account.html">account page</a>
    <a href="view_my_public_profile.html">view your public profile</a>
    <a href="edit_my_public_profile.html">edit your public profile</a>
    <a href="welcome.html">how to do Yellownotes</a>
    <a href="my_notes.html">My Yellownotes</a>
    <a href="subscribed_notes.html">all Yellownotes</a>
    <a href="my_distributions.html">My feeds</a>
    <a href="my_subscriptions.html">feeds I subscribe to</a>
    <a href="edit_note_template.html">edit Yellow Note template</a>
    <a href="https://www.yellownotes.cloud/privacy_policy.html" target="_blank">Privacy policy</a>
    <a href="https://www.yellownotes.cloud/logout_silent">logout</a>
    
    
  </div>

