<html>
	<body style="margin: 1px">
		<table>
				<tr>
					<td name="canvas-cell">
						<canvas name="canvas" width="250" height="180"></canvas>

						
						
					</td>
				</tr>
				<tr>
					<td name="controls-cell">
						<input type="color" name="canvas-color-picker" value="#FFFF00">
						<input type="color" name="draw-color-picker" value="#000000">
						<select name="line-width-select">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<select name="line-type-select">
							<option value="solid">Solid Line</option>
							<option value="widely_stapled">Widely Stapled Line</option>
							<option value="dencely_stapled">Densely Stapled Line</option>
						</select>
						<button name="save-button">Save as PNG</button>
					</td>
				</tr>
			</table>
	</body>
</html>
			