body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
    background-color: rgb(255, 255, 255);

}


/* Style for the table */
.table-no-border {
    border: none;
  }
  
  /* Style for table data */
  .td-green-courier {
    color: green;
    font-family: "Courier New", Courier, monospace;
    font-size: 10px;
  }
  
  /* Style for anchor links */
  .link-inherit-color {
    color: inherit; /* Inherit color from parent */
    text-decoration: none;
  }
  