  /* the first colum contains the data row ID. This information means nothing to the user, so do not display it*/
  #dataTable th:first-child,
  #dataTable td:first-child {
    display: none;
  }

button{
  padding: 0px;
  width: 25x;
  height: 15px;
  padding: 0px 0px 0px;
  font-size: 10px;
  line-height: 1;
  text-align: left;
  word-break: break-all;
  min-height: 1.0em;
}

table.distributionlistsTable tr td {
  padding: 0px 0px 0px;
  height: 15px;
  border: 1px solid black;
  display: table-cell;
  font-size: 10px;
  word-break: break-all;
 
  text-align: left;
}


table.distributionlistsTable tr td:nth-child(2) {
  max-width: 50px;
  width: auto;

}
table.distributionlistsTable tr td:nth-child(3) {
  max-width: 100px;
  width: auto;

}

table.distributionlistsTable tr td:nth-child(4) {
  width: 40px;
  line-height: 1;
  text-align: left;
  min-height: 1.0em;
}

table.distributionlistsTable tr td:nth-child(5) {
  width: 50px;
  line-height: 1;
  min-height: 1.0em;
}

table.distributionlistsTable tr td:nth-child(6) {
  width: 35px;
  line-height: 1;
  min-height: 1.0em;
}

table.distributionlistsTable tr td:nth-child(7) {
  width: 50px;
  line-height: 1;  
  min-height: 1.0em;
}

table.distributionlistsTable tr td:nth-child(8) {
  width: 95px;
  line-height: 1;
  min-height: 1.0em;
}

table.distributionlistsTable tr td:nth-child(9) {
  width: 20px;
  line-height: 1;
  min-height: 1.0em;
}


table.distributionlistsTable tr td:nth-child(10) {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
}

  select {
    padding: 0px;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    word-break: break-all;
    min-height: 1.0em;
    margin: 0px;
  }

  option {
    padding: 0px;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    word-break: break-all;
    min-height: 1.0em;
  }
