  /* General Styling */
  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  h1 {
    text-align: center;
    font-size: 14px;
  }

  /* Add styles for scrollable table */
  .scrollable-table {
    height: 450px; /* Adjust height as needed */
    overflow-y: auto;
    display: block;
  }

  /* the first colum contains the data row ID. This information means nothing to the user, so do not display it*/
  #dataTable th:first-child,
  #dataTable td:first-child {
    display: none;
  }

.fixed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}


.filterableCol {
font-size: .8em;

}