  /* General Styling */
  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  h1 {
    text-align: center;
    font-size: 14px;
  }


  /* Add styles for scrollable table */
  .scrollable-table {
    height: 450px; /* Adjust height as needed */
    overflow-y: auto;
    display: block;
  }

  /* Table Styling */
  table {
    border: 1px solid #4CAF50;
    border-collapse: collapse;
    margin: 15px 0;
    padding: 0;
  
    table-layout: fixed;
  }
  /* the first colum contains the data row ID. This information means nothing to the user, so do not display it*/
  #dataTable th:first-child,
  #dataTable td:first-child {
    display: none;
  }

 



.fixed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

  table tr {
    background: #f2f4f3;
    border: 1px solid #c1e0c9;
    padding: .35em;
  }


  table td {
    padding: .625em;
    text-align: center;
  }






  table td {
    font-size: .55em;
    color: #388E3C;
    word-break: break-all;
  }




  .go_to_location_button {
    height: 20px;
  position: relative;
    z-index: 12000;
  }

  .go_to_location_button::after {
    content: "Go to Location to note";
    position: absolute;
    bottom: 50%;
    left: 0px;
    transform: translateY(-15%);
    white-space: wrap;
    background-color: black;
    
    color: white;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    font-size: 15px;
    z-index: 12000;

    /* Initially hidden */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }

  .go_to_location_button:hover::after {
    /* Show the tooltip */
    opacity: 0.7;
    visibility: visible;
    z-index: 12000;
  }


  
.unpause_button {
  height: 20px;
position: relative;
  z-index: 12000;
}

.unpause_button::after {
  content: "reactivate";
  position: absolute;
  bottom: 50%;
  left: 0px;
  transform: translateY(-15%);
  white-space: wrap;
  background-color: black;
  
  color: white;
  text-align: center;
  padding: 4px;
  border-radius: 2px;
  font-size: 15px;
  z-index: 12000;

  /* Initially hidden */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  overflow: visible;
}
  
.button-container {
  display: flex; /* Makes the container flex */
  justify-content: space-between; /* Distributes space between the buttons */
}

.button-container > div {
  margin-right: 1px; /* Adds spacing between buttons */
}

.button-container > div:last-child {
  margin-right: 5px; /* Removes margin from the last button to avoid extra spacing */
}


.button-container > div:first-child {
  margin-left: 5px; /* Removes margin from the last button to avoid extra spacing */
}

